<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Transparent Login Form</title>
		<link rel="stylesheet" href="/public/style ajout.css">
	</head>    
	
<body>
	

		
	
<div id= "image">
<p>
CALENDRIER
</p>
</div>
		
<div class="submit">
			<form  action="/signout">
			<input type="submit" name="" value="Déconnexion" >
				
			</form>
		</div>		
    
<div id='bout'>
  <button  id="next" ><a href="/calender/toto"> toto</a> </button>
  <button  id="next" ><a href="/calender/titi"> titi </a></button>
  <button  id="next" ><a href="/calender/tata"> tata </a></button>
</div>

	
	
</body>
</html>
