<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8" /> 
    <title>
        HTML Document Structure
    </title>
    <link rel="stylesheet" type="text/css" href="/public/style-index.css" />
</head>
<body>

  <label id="labco" >Se connecté :</label>
    <form action="/signin">
    <input type="submit" name="log" id="log" value="LOG IN" >
        </form>
	  <label id= "labinsc" >S'inscrire :</label>
        <form action="/signup">
    <input type="submit" name="insc" id="insc" value="INSCRIPTION" >
    </form>

</body>
</html>