<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Transparent Login Form</title>
		<link rel="stylesheet" href="/public/style tabuser.css">
	</head>
	
<body>
	
<div class="submit">
			<form  action="/signout">
			<input type="submit" name="" value="Déconnexion" >	
			</form>
</div>

		
<table id="tableUser">
   <tr>
	  <th>USER</th>
      <th>Administration</th>
      <th>Creation </th>
      <th>Modification</th>
      <th>Effacement</th>
   </tr>
   
</table>


	
	<script type="text/javascript" src="/public/scriptAdmin.js"></script>
	
</body>
</html>
